/*--- ESTILOS GENERALES ---*/
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

th {
  background-color: #0077B6;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9fbff;
}

/* --- ENCABEZADO DE SIMULACIÓN */

.simulacion-intro {
    margin: 20px auto;
    width: 80%;
}

.simulacion-intro p {
    text-align: center;
    margin-bottom: 30px;
    color: #9095A0;
    font-size: 16px;
}

/*--- RESULTADOS DE SIMULACIÓN ---*/

.simulacion-resultados {
    align-items: left;
    justify-content: left;
}

.simulacion-resultados table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.simulacion-resultados h2 {
    color: #0077b6;
}


/*--- RESULTADO DE SIMULACIÓN POR SEMESTRE---*/

.resultado-semestre {
    width: 80%;
    background: white;
    border-radius: 8px;
    padding: 5px;
    margin: 30px;
    margin-left: 115px ;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1.1;
}


/*--- DIVISOR ENTRE SECCIONES DE RESULTADOS Y RESUMEN GENERAL---*/

.divider {
    border: none;
    height: 2.5px;
    background-color: #d1d1d1;
    margin: 40px auto;
    width: 80%;
}

/*--- RESUMEN GENERAL---*/

.resumen-general {
    margin: 30px auto;
    width: 80%;
}

.resumen-general table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.resumen-general p {
    text-align: center;
    margin-bottom: 30px;
    color: #9095A0;
    font-size: 16px;
}


/*--- GRÁFICA POR SEMESTRE---*/

.grafica-tipo-materia h2 {
    color: #0077b6;
}

.grafico-d3 {
  width: 100%;
  background: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1.1;
}

.grafico-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.grafico-svg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-grafico {
  margin: 0 0 4px 0; 
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
}

#graficoSVG {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Leyenda */
.leyenda-d3 {
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 10px;
  align-items: flex-start;
}


/*--- BOTÓN PARA VOLVER A GENERAR SIMULACIÓN---*/

.nueva-simulacion {
  display: block;
  margin: 30px auto;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #0077B6;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nueva-simulacion:hover {
  background-color: #005f8a;
}
