* {
    box-sizing: border-box;
}

body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

section {
    margin-bottom: 40px;
}

.simulacion-resultados {
    align-items: left;
    justify-content: left;
}

.simulacion-resultados table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.divider {
    border: none;
    height: 2.5px;
    background-color: #d1d1d1;
    margin: 40px auto;
    width: 80%;
}

.resumen-general {
    margin: 30px auto;
    width: 80%;
}

.resumen-general table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
