<body>
    <h1>Simulación de Escenarios Académicos</h1>
    <section class="simulacion-intro">
        <h2>Resultados de la Simulación</h2>
        <p>Basado en tu progreso académico, preferencias y plan de estudios, te mostramos una simulación personalizada con las materias para tu próximo semestre. Con esto podrás conocer qué materias cursar para avanzar de forma eficiente y tomar decisiones informadas.</p>
    </section>
    <section *ngIf="resultadoSimulacion" class="simulacion-resultados">
        <div *ngFor="let semestre of resultadoSimulacion | keyvalue" class="resultado-semestre">
            <h2>Semestre {{ semestre.key }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre Materia</th>
                        <th>Créditos</th>
                        <th>Semestre</th>
                        <th>Tipo</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let materia of semestre.value.materias">
                        <td>{{ materia.codigo }}</td>
                        <td>{{ materia.nombre }}</td>
                        <td>{{ materia.creditos }}</td>
                        <td>{{ materia.semestre }}</td>
                        <td>{{ materia.tipo }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="resumen-semestre">
                <h2>Resumen para semestre {{ semestre.key }}</h2>
                <p>Total de Créditos: {{ calcularResumen(semestre.value.materias).totalCreditos }}</p>
                <p>Total de Materias: {{ calcularResumen(semestre.value.materias).totalMaterias }}</p>
                <p>Horas de Estudio por Día: 5 </p>
                <p>Créditos Pendientes: 4</p>
            </div>

            <div class="grafica-tipo-materia">
                <h2>Porcentaje por Tipo de Materia</h2>
            </div>

            <!--<div class="grafico-d3" id="donutChartContainer">
                <div class="grafico-contenido">
                    <div class="grafico-svg-wrapper">
                        <h3 class="titulo-grafico">Cantidad de Créditos</h3>
                        <div id="graficoSVG"></div>
                    </div>
                    <div id="leyendaGrafico" class="leyenda-d3"></div>
                </div>
            </div> -->  
        </div>
    </section>

    
    <hr class="divider">

    <section class="resumen-general">
        <h2>Resumen General de Simulaciones</h2>
        <p>Este resumen reúne las estadísticas más importantes de tu simulación académica. Úsalo para visualizar tu carga promedio, estimar tu ritmo de avance y planificar mejor tus próximos semestres.</p>

        <table>
            <thead>
                <tr>
                    <th>Estadística</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Materias en promedio por semestre</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Créditos en promedio por semestre</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Créditos faltantes hasta última simulación</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Semestre con mayor carga</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
    </section>

    <button class="nueva-simulacion" (click)="volverFormSimulacion()">Generar Nueva Simulación</button>
</body>


<!--<div *ngIf="resultadoSimulacion">
  <div *ngFor="let semestre of resultadoSimulacion | keyvalue">
    <h2>Semestre {{ semestre.key }}</h2>
    <ul *ngIf="semestre.value.materias">
      <li *ngFor="let materia of semestre.value.materias">
        <strong>{{ materia.nombre }}</strong> (Código: {{ materia.codigo }})<br />
        Créditos: {{ materia.creditos }}<br />
        Requisitos:
        <ul>
          <li *ngFor="let req of materia.requisitos">{{ req }}</li>
        </ul>
      </li>
    </ul>
  </div>
</div> -->
