<div #contenedor class="pensum-container">
    <div class="pensum-column">
      <h1>Simulación del plan de estudios</h1>
      <p>
        Visualiza la simulación realizada y el avance de las materias que has cursado.
        Además, en las <strong>materias simuladas</strong> al hacerle click podrás consultar sus
        requisitos y las materias que se habilitan al aprobarlas.
      </p>
        <div class="leyenda-colores">
          <div class="item"><span class="color perdida"></span> Materia Perdida</div>
          <div class="item"><span class="color bloqueada"></span> Materia Cursada</div>
          <div class="item"><span class="color actual"></span> Materia Actual</div>
          <div class="item"><span class="color simulada"></span> Materia Simulada</div>
          <button class="volver-simulacion" (click)="volverSimulacion()">Volver a Simulación</button>
        </div>      
  
      <div class="semestres">
        
        <!-- Materias cursadas (ORÍGENES) -->
        <div class="semestre-columna" *ngFor="let grupo of agruparPorSemestre(soloMaterias)">
          <h3>Semestre {{ grupo.semestre }}</h3>
          <div
            class="caja"
            *ngFor="let materia of grupo.materias"
            [attr.id]="getCodigo(materia).toString().padStart(6,'0')"               
            [attr.data-semestre]="grupo.semestre"
            [attr.data-requisitos]="'[]'"     
            (click)="seleccionarMateria(getCodigo(materia))"            
            [ngClass]="materia.cssClass"
          >
            <strong>{{ materia.titulo }}</strong>
            <span class="codigo">{{ getCodigo(materia) }}</span> 
            <span class="creditos">{{ materia.cred }} créditos</span>
          </div>
        </div>
  
        <!-- Materias simuladas-->
        <div class="semestre-columna simulado" *ngFor="let grupo of materiasAgrupadas">
            <h3>S{{ grupo.key }} Simulado</h3>
            <div class="caja" *ngFor="let materia of grupo.materias"
                 [attr.id]="materia.codigo.toString().padStart(6,'0')"
                 [attr.data-semestre]="grupo.key"
                 (click)="seleccionarMateria(materia.codigo)"
                 [attr.data-requisitos]="getRequisitosJson(materia.codigo)"
                 [ngClass]="materia.cssClass">
              <strong>{{ materia.nombre }}</strong>
              <span class="codigo">{{ materia.codigo }}</span>
              <span class="creditos">{{ materia.creditos }} créditos</span>
            </div>
        </div>          
      <svg #svgRef class="svg-lines"></svg>   
    </div>
  
  </div>
  
  
  