.contenedor-autenticacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 800px;
  background-color: #c6effb;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.tarjeta-autenticacion {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.239);
  text-align: center;
}

.titulo {
  color: #00b4d8;
  font-size: 32px;
  font-weight: bold;
}

.subtitulo {
  margin-top: 5px;
  font-size: 28px;
  font-weight: bold;
}

.mensaje-bienvenida {
  color: #6c757d;
  font-size: 24px;
}

form {
  margin-top: 15px;
  text-align: left;
}

label {
  font-weight: 500;
  display: block;
  margin: 10px 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.grupo-input {
  display: flex;
  align-items: center;
  background: #f8fbff;
  border-radius: 6px;
  padding: 5px 8px;
}

.icono {
  color: #0077b6;
  font-size: 20px; /* Tamaño más grande */
  margin-right: 8px;
}

.icono-ojo {
  cursor: pointer;
  margin-left: 5px;
}

.grupo-input input {
  border: none;
  background: transparent;
  flex: 1;
  padding: 8px;
  outline: none;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #f8fbff;
  font-size: 14px;
  color: black;
}

.opciones-extra {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 13px;
}

.opciones-extra a {
  color: #0077b6;
  text-decoration: none;
}

.campo-requerido {
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.boton-principal {
  background: #0077b6;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.boton-principal:hover {
  background: #0096c7;
}

.boton-secundario {
  background: #90e0ef;
  color: #0077b6;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 8px;
  cursor: pointer;
  font-size: 14px;
}

.boton-secundario:hover {
  background: #00b4d8;
}

.boton-secundario-link {
  background: none;
  border: none;
  color: #0077b6;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}

.boton-secundario-link:hover {
  text-decoration: underline;
}

.cambio-autenticacion {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.mensaje-error{
  color: #0077b6;
  font-weight: bold;
}