:host {
    display: block;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
  }
  
  /* Layout general */
  section {
    padding: 50px 50px;
    margin: auto;
  }
  
  /* Inicio */
  .inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CAF0F8;
    padding: 50px;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .inicio-content {
    flex: 1 1 50%;
    min-width: 300px;
  }
  
  .inicio-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #00B4D8;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .inicio-content .description {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    text-align: left;
  }
  
  .inicio-image {
    flex: 1 1 40%;
    min-width: 280px;
    display: flex;
    justify-content: center;
  }
  
  .inicio-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Features */
  .features h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    color:#0077B6;
  }
  
  .features p {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;
  }
  
  .feature-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 260px;
    padding: 20px;
    text-align: center;
    border-color: #0077B6;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  /* Benefits */
  .benefits ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 0;
    font-weight: 500;
    margin-top: 30px;
  }
  
  /* Footer */
  .footer {
    background: #0077B6;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-logo img {
    width: 100px;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 0;
  }
  
  .footer-links h4 {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .footer-copy {
    font-size: 0.9rem;
    text-align: center;
    color: #ddd;
    text-align: center;
  }
  

  .historial-container {
    padding: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #ffffff;
    overflow-x: auto;
    position: relative;
    z-index: 1;
    margin: 0 auto; 
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f6fc;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: black;
}

p.description {
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-size: 16px;
    justify-content: space-between;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 600px;
  width: 100%;
}


input[type="file"] {
  padding: 10px 20px;
    font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  max-width: 500px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #0077B6;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #00B4D8;
}

.tutorial-box {
    background-color: #00B4D8;
    border-radius: 12px;
    padding: 24px;
    margin-top: 150px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    gap: 16px;
}
  
  .tutorial-text {
    flex: 1;
    max-width: 50%;
}
  
  .tutorial-text h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
  
  .tutorial-text p {
    margin-top: 8px;
    font-size: 1rem;
}
  
  .tutorial-video {
    width: 200px; /* w-48 en Tailwind = 12rem = 192px */
}
  
  .tutorial-video img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}