/* app.component.css */
html, body {
  height: 100%;
  overflow: hidden;
}
.app-container {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 210px;
  height: 100vh;  
  background-color: #0077B6;
  color: #BFE9FF;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0; 
}

.logo-section {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

/* Navigation */
.nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  color: #CAF0F8;
  text-decoration: none;
  align-items: center;
  padding: 12px 16px;
  transition: all 0.3s ease;
  padding-left: 12px;
  box-sizing: border-box;
  width: 100%;
  margin: 0; 
}

.nav-link i {
  width: 20px;
  padding-right: 20px;
  padding-left: 10px;
}

.nav-link:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
  border-left: 3px solid #ffffff;
}

.nav-link.active {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
  border-left: 3px solid #ffffff;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 80%;
}

.logout-button {
  background-color: #0077B6;
  color: #CAF0F8;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s ease;
  width: 100%;
  border: none;
  padding: 12px;        
  text-align: center;
  margin-top: auto; 
  margin-bottom: 26px;
}

.logout-button:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
  border-left: 3px solid #ffffff;
}

/* Main content */
.main-content {
  margin-left: 205px; 
  width: calc(100% - 220px);
  overflow-y: auto;
  flex: 1;
  background-color: white;
}
