/* app.component.css */

.app-container {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #0077B6;
  color: #BFE9FF;
  display: flex;
  flex-direction: column;
  padding-left: 0; 
}

.logo-section {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

/* Navigation */
.nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color:#BFE9FF;
  width: 100%;
  transition: background-color 0.2s ease;
  margin: 0; 
  border-left: 5px solid transparent;
}

.nav-link i {
  width: 20px;
  padding-right: 20px;
  padding-left: 10px;
}

.nav-link:hover {
  background-color: #BFE9FF;
  color: #0077B6
}

.nav-link.activo {
  background-color: #BFE9FF;
  color: #0077B6;
  border-radius: 0;
}

.logout-button {
  background-color: #0077B6;
  color: #BFE9FF;
  font-size: 16px;
  transition: background-color 0.2s ease;
  width: 100%;
  margin-top: 480px; 
  margin-left: 8px;
}

.logout-button:hover {
  background-color: #BFE9FF;
  color: #0077B6;
}

/* Main content */
.main-content {
  width: calc(100% - 220px);
  height: 100vh;
  overflow-y: auto;
  flex: 1;
  background-color: white;
}
