<div #contenedor class="pensum-container">
  <div class="pensum-column">

    <h1>Avance en el plan de estudios</h1>
    <p>
      Visualiza tu plan de estudios y el avance de las materias que has cursado.
      Además, en las <strong>materias faltantes</strong> al hacerle click podrás consultar sus
      requisitos y las materias que se habilitan al aprobarlas.
    </p>
    <div class="contenedor-leyenda">
      <div class="leyenda-colores">
        <div class="item"><span class="color perdida"></span> Materia Perdida</div>
        <div class="item"><span class="color bloqueada"></span> Materia Cursada</div>
        <div class="item"><span class="color actual"></span> Materia Actual</div>
        <div class="item"><span class="color faltante"></span> Materia Faltante</div>
        <div class="item"><span class="color faltante"></span> Materia Faltante</div>
      </div>

      <div class="vista-controls">
        <div class="vista-section">
          <h4 class="vista-title">Tipo de vista de malla curricular</h4>
          <div class="vista-toggle-block">
            <div class="vista-toggle">
              <span class="toggle-label left-label" id="historico-label">Tu histórico</span>
              <div class="toggle-container">
                <input type="checkbox" id="vistaToggle" class="toggle-input" (change)="cambiarVista()" />
                <label for="vistaToggle" class="toggle-slider">
                  <span class="toggle-button"></span>
                </label>
              </div>
              <span class="toggle-label right-label" id="plan-label">Según plan de estudios</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="semestres">

      <!-- Materias cursadas (ORÍGENES) -->
      <div class="semestre-columna" *ngFor="let grupo of agruparPorSemestre(soloMaterias)">
        <h3>Semestre {{ grupo.semestre }}</h3>

        <div class="caja" *ngFor="let materia of grupo.materias"
          [attr.id]="getCodigo(materia).toString().padStart(6,'0')" [attr.data-semestre]="grupo.semestre"
          [attr.data-requisitos]="'[]'" (click)="seleccionarMateria(getCodigo(materia))" [ngClass]="materia.cssClass">
          <strong>{{ materia.titulo }}</strong>
          <span class="codigo">{{ getCodigo(materia) }}</span>
          <span class="creditos">{{ materia.cred }} créditos</span>
        </div>
      </div>

      <!-- Materias faltantes (DESTINOS) -->
      <div class="semestre-columna" *ngFor="let grupo of materiasFaltantes">
        <h3>Semestre {{ grupo.semestre }}</h3>

        <div class="caja" *ngFor="let materia of grupo.materias"
          [attr.id]="getCodigo(materia).toString().padStart(6,'0')" [attr.data-semestre]="grupo.semestre"
          (click)="seleccionarMateria(getCodigo(materia))" [attr.data-requisitos]="getRequisitosJson(materia.codigo)">
          <strong>{{ materia.nombre }}</strong>
          <span class="codigo">{{ getCodigo(materia) }}</span>
          <span class="creditos">{{ materia.creditos }} créditos</span>
        </div>
      </div>
    </div>
    <svg #svgRef class="svg-lines"></svg>
  </div>

</div>