h1 {
  text-align: center;
  color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table.faltantes {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: none;
  font-size: 14px;
}

table.faltantes th,
table.faltantes td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  background-color: white;
}
table.faltantes td:first-child::before {
  content: "●";
  color: #0077B6; 
  font-size: 12px;
  display: inline-block;
  margin-right: 8px;
  transform: translateY(-1px);
}

table.faltantes tr {
  border-bottom: 1px solid #ccc; /* Línea horizontal gris clara */
}

table.faltantes tr:last-child {
  border-bottom: none; /* Elimina línea extra al final */
}


th {
    background-color: #0077B6;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9fbff;
}

.progress-container {
    width: 100%;
    background-color: #CAF0F8;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #0077B6;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    transition: width 0.5s;
    font-size: 1.1em;
}

.progreso-carrera-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.resumen-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .creditos-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr)); 
    gap: 16px;
    flex: 1;
  }
  
  .cuadro-credito {
    background-color: #caf0f8;
    border-left: 6px solid #00B4D8;
    padding: 12px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    text-align: left;
  }
  
  .cuadro-credito h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .cuadro-credito p {
    margin: 4px 0 0;
    font-size: 16px;
  }
  
  .grafico-d3 {
    width: 400px;
    height: 300px;
  }
  .titulo-grafico {
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.2);
  }
  
  .leyenda-d3 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    color: #333;
  }
  
  .requisitos-container {
    margin-top: 32px;
  }
  
  .badges {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 8px;
  }
  
  .badge {
    background-color: #e0f7fa;
    color: #0077B6;
    padding: 4px 12px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .faltantes-container {
    margin-top: 32px;
  }
  
  .tabla-materias {
    margin-top: 40px;
  }

  .error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }
  