
    <!-- Contenido académico (solo si hay datos) -->
    <ng-container *ngIf="historial.materias?.length">
      <h1> Progreso Académico </h1>
      <!-- Barra de progreso -->
      <div class="resumen-info">
        <div class="info-bloque">
          <div class="valor">{{ historial.promedio }}</div>
          <div class="titulo">Promedio</div>
        </div>
        <div class="info-bloque">
          <div class="valor">{{ historial.semestre }}</div>
          <div class="titulo">Semestre</div>
        </div>
        <div class="progress-bar-section">
          <div class="progress-titulo">
            <h3>Porcentaje de Avance</h3>
          </div>
          <div class="progress-container">
            <div class="progress-bar" [style.width.%]="historial.porcentaje">
              {{ historial.porcentaje?.toFixed(2) || '0.00' }}%
            </div>
          </div>
        </div>
        
      </div>      
      <h3>Créditos Faltantes</h3>
      <!-- Créditos y gráfico -->
      <div class="resumen-grid">
        <div class="creditos-grid">
          <div class="cuadro-credito">
            <h3>ELECTIVAS</h3>
            <p>{{ historial.faltanElectiva }} créditos</p>
          </div>
          <div class="cuadro-credito">
            <h3>COMPLEMENTARIAS</h3>
            <p>{{ historial.faltanComplementaria }} créditos</p>
          </div>
          <div class="cuadro-credito">
            <h3>ÉNFASIS</h3>
            <p>{{ historial.faltanEnfasis }} créditos</p>
          </div>
          <div class="cuadro-credito">
            <h3>ELECTIVA CIENCIAS BÁSICAS</h3>
            <p>{{ historial.faltanElectivaBasicas }} créditos</p>
          </div>
        </div>
  
        <div class="grafico-d3" id="donutChartContainer">
          <div class="grafico-contenido">
            <div class="grafico-svg-wrapper">
              <h3 class="titulo-grafico">Cantidad de Créditos</h3>
              <div id="graficoSVG"></div>
            </div>
            <div id="leyendaGrafico" class="leyenda-d3"></div>
          </div>
        </div>           
      </div>
  
      <!-- Requisitos -->
      <div class="resumen-grid">
        <div class="requisitos-container" *ngIf="requisitosProcesados.length">
          <h3>Requisitos de Grado</h3>
          <ul class="requisitos-lista">
            <li *ngFor="let requisito of requisitosProcesados">
              <span class="check-icon">{{ requisito.cumplido ? '✔' : '✘' }}</span>
              <span class="benefit-text">{{ requisito.nombre }}</span>
            </li>
          </ul>
        </div>              
      </div>
  
      <!-- Materias que faltan -->
      <div *ngIf="historial.listaMateriasFaltantes?.length" class="faltantes-container">
        <h3>Materias Faltantes</h3>
        <table class="faltantes">
          <tbody>
            <tr *ngFor="let mat of historial.listaMateriasFaltantes">
              <td>{{ mat.nombre }}</td>
              <td>{{ mat.creditos }} créditos</td> 
              <td>{{ mat.codigo }}</td>
            </tr>
          <tbody>
        </table>
      </div>
  
      <!-- Historial de cursos -->
      <div *ngIf="historial.materias?.length" class="tabla-materias">
        <h3>Historial de Cursos</h3>
        <table>
          <thead>
            <tr>
              <th>Ciclo</th>
              <th>Materia</th>
              <th>N° Cat</th>
              <th>Curso</th>
              <th>Título</th>
              <th>Calif</th>
              <th>Cred</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of materiasVisibles">
              <td>{{ m.cicloLectivo }}</td>
              <td>{{ m.materia }}</td>
              <td>{{ m.numeroCat }}</td>
              <td>{{ m.curso }}</td>
              <td>{{ m.titulo }}</td>
              <td [ngClass]="{'sin-calificacion': m.calif === 'SIN CALIFICACIÓN'}">
                {{ m.calif === 'SIN CALIFICACIÓN' ? '⚠️' : m.calif }}
              </td>
              <td>{{ m.cred }}</td>
              <td>{{ m.tipo }}</td>
            </tr>
          </tbody>
        </table>
        
        <!-- Btón ver más registros-->
        <div class="centrar-boton" *ngIf="historial.materias.length > 5" style="margin-top: 10px;">
          <button (click)="mostrarTodasMaterias = !mostrarTodasMaterias">
            {{ mostrarTodasMaterias ? 'Ver menos' : 'Ver más' }}
          </button>
        </div>

        <!-- Tablas extra (electivas, enfasis, complementarias) -->
        <div *ngFor="let tabla of tablasExtra">
          <div *ngIf="tabla.lista?.length">
            <h3>{{ tabla.titulo }}</h3>
            <table>
              <thead>
                <tr>
                  <th class="extra">Ciclo</th>
                  <th class="extra">Materia</th>
                  <th class="extra">N° Cat</th>
                  <th class="extra">Curso</th>
                  <th class="extra">Título</th>
                  <th class="extra">Calif</th>
                  <th class="extra">Cred</th>
                  <th class="extra">Tipo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of tabla.lista">
                  <td>{{ m.cicloLectivo }}</td>
                  <td>{{ m.materia }}</td>
                  <td>{{ m.numeroCat }}</td>
                  <td>{{ m.curso }}</td>
                  <td>{{ m.titulo }}</td>
                  <td [ngClass]="{'sin-calificacion': m.calif === 'SIN CALIFICACIÓN'}">
                    {{ m.calif === 'SIN CALIFICACIÓN' ? '⚠️' : m.calif }}
                  </td>
                  <td>{{ m.cred }}</td>
                  <td>{{ m.tipo }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>              
    </div> 
    </ng-container>

  